@font-face {
  font-family: "Raleway";
  src: local("Raleway-Black"),
  url("assets/fonts/Raleway/Raleway-Black.ttf") format("truetype");
  font-weight: 900;
}

@font-face {
  font-family: "Raleway";
  src: local("Raleway-Bold"),
  url("assets/fonts/Raleway/Raleway-Bold.ttf") format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "Raleway";
  src: local("Raleway-SemiBold"),
  url("assets/fonts/Raleway/Raleway-SemiBold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Raleway";
  src: local("Raleway-Medium"),
  url("assets/fonts/Raleway/Raleway-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Raleway";
  src: local("Raleway"),
  url("assets/fonts/Raleway/Raleway-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Raleway";
  src: local("Raleway-Light"),
  url("assets/fonts/Raleway/Raleway-Light.ttf") format("truetype");
  font-weight: 300;
}